.active-link {
  background-color: #3399ff;
  color: white;
  border-radius: 10px;
}

.is-open {
  display: block;
  position: absolute;
  top: 4rem;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: white;
  z-index: 9999;
  padding-left: 40px;
  box-shadow: #3399ff;
}
