<div
  class="min-h-[calc(100vh_-_210px)] md:container md:mx-auto mx-6 mt-12 mb-20"
>
  <div class="flex flex-col lg:flex-row items-center">
    <div class="flex">
      <div class="my-auto">
        <img class="rounded-full" src="{{ user.avatar_url }}" />
      </div>
    </div>
    <div class="flex justify-center ml-6 flex-col flex-1 gap-y-2 font-serif">
      <p class="font-bold text-4xl mb-6">Hi</p>
      <p class="text-lg">I'm <strong>Zehra</strong>.</p>
      <p>
        Classroom Teaching at Trabzon University as you continue reading in the
        section I started writing my first code with my interest. I learned
        HTML, CSS and Bootstrap and did a few projects in the Front-End area. I
        started learning SCSS and JavaScript to progress further in the software
        field. After being accepted to the Hi-Kod Atölye organized by the
        Kodluyoruz team, I started working on React.Js. I continued learning
        React.Js with my curiosity. I tried to support my development by
        participating in the trainings held in Trabzon Teknokent. I attended the
        React Bootcamp organized by Kodluyoruz. I am currently working as
        Frontend Developer at Kodline company. Detail i like to dwell on it and
        deal with the details. I never shy away from taking responsibility.
      </p>
    </div>
  </div>
  <div class="mt-20">
    <h4 class="text-3xl font-sans underline mb-10">My Works</h4>
    <div *ngFor="let repo of repos">
      <div class="bg-slate-50 rounded-lg my-3 p-4">
        <h4 class="font-bold text-xl mb-4">{{ repo.name }}</h4>
        <p class="my-2">
          {{ repo.description }}
        </p>
        <div class="flex justify-between items-center">
          <div class="flex gap-x-4 text-sm text-gray-500">
            <span class="">{{ repo.language }}</span>
            <span>{{ repo.created_at }}</span>
          </div>
          <div>
            <a class="detail-btn" href="{{ repo.html_url }}">Detail</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-loading
    [show]="loading"
    [config]="{
      backdropBorderRadius: '3px',
      backdropBackgroundColour: 'rgba(0, 0, 0)'
    }"
  ></ngx-loading>
</div>
